@use '../utils';

.book-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: none;
  margin-left: auto;

  @include utils.media('>mobile') {
    display: block;
  }

  .action-menu & {
    display: block;
    margin-left: 0;
  }

  &__label {
    min-width: 193px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-title);
    background-color: var(--primary-color);
    padding: 18.5px 20px;
    gap: 15px;
    transition: background-color 0.5s var(--cubic), top 0.75s var(--cubic-super-smooth);

    .action-menu & {
      background-color: var(--grey-dark-color);
      min-width: 175px;
      padding: 18.5px 30px;
    }

    .book-button--open & {
      background-color: #8b877e;
    }

    @include utils.media('>tablet') {
      .book-button:not(.book-button--open) &:hover {
        background-color: #8b867b;
      }
    }

    &--close {
      @include utils.center('x');
      top: 100%;
      width: 100%;
      color: #fff;
      background-color: #8b877e;
      z-index: 2;

      .book-button--open & {
        top: 0;
      }
    }
  }

  &-restaurant {
    @include utils.center('x');
    z-index: 3;
    bottom: 110px;
    background-color: var(--secondary-color);
    padding-inline: 19.6px;

    @include utils.media('>tablet') {
      bottom: 150px;
    }
  }
}
