@use '../utils';

.header {
  position: relative;
  width: 100%;
  height: calc(100% - 55px);

  @include utils.media('>mobile') {
    height: 100%;
  }

  &--hidden {
    height: auto;
    min-height: 79px;
  }

  &-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    padding: 26px 20px;
    background-color: transparent;
    transition: padding 0.75s var(--cubic), background-color 0.75s var(--cubic);

    @include utils.media('>mobile') {
      padding: 47px 42px;
    }

    .scrolled &,
    .header--hidden & {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

      @include utils.media('>mobile') {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    .menu--open ~ &,
    .qr--open ~ & {
      @include utils.media('<=mobile') {
        background-color: #fff;
      }
    }
  }

  &-logo {
    @include utils.center();
    z-index: 10;
    transition: opacity 0.5s var(--cubic);

    .header--hidden > & {
      display: none;
    }

    .header-top & {
      opacity: 0;
      pointer-events: none;

      .scrolled &,
      .header--hidden & {
        opacity: 1;
        pointer-events: visible;
      }

      .menu--open ~ &,
      .qr--open ~ & {
        @include utils.media('<=mobile') {
          opacity: 1;
          pointer-events: visible;
        }
      }
    }

    &-picture {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__img {
      object-fit: contain;
      width: 225px;
      height: 183.14px;
      position: relative;
      top: auto;
      left: auto;

      .header-top & {
        width: 91.66px;
        height: 66px;
      }

      .header-logo--restaurant & {
        width: utils.clampy(310px, 460px);
        height: auto;
      }
    }
  }

  &-arrow {
    @include utils.center('x');
    bottom: 20px;
    z-index: 8;
    cursor: pointer;

    .header--hidden & {
      display: none;
    }

    &__icon {
      color: #fff;
      font-size: 60px;
    }
  }
}
